body {
  &::-webkit-scrollbar-thumb {
    height: 56px;
    border-radius: 8px;
    border: 4px solid transparent;
    background-clip: content-box;
    background-color: hsl(0, 0%, 67%);
  }
}
.ps-10 {
  padding-left: 8vw !important;
  padding-right: 3vw !important;
  @media screen and (max-width: 768px) {
    padding: 0 6vw !important;
  }
}
.placeholder {
  border-radius: $border-radius;
}

.iframe {
  position: relative;
  iframe {
    border-radius: 1rem !important;
    position: relative;
  }
  img {
    position: absolute;
    top: 0;
    left: 0;
    filter: blur(80px);
    z-index: -1;
  }
}
